<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

html
  head
    title Newsletter template
    meta( http-equiv="Content-Type", content="text/html;charset=UTF-8" )
    link(rel="stylesheet", href="css/main.css")

  body( topmargin="0", leftmargin="0", marginwidth="0", marginheight="0" )

    table( cellspacing="0", cellpadding="0" ).full_dimension.table_reset
      tr
        td.full_dimension

          table( align="center", cellspacing="0", cellpadding="0" ).default_dimension.table_reset.view_in_browser
            tr
              td Caso não esteja visualizando o e-mail 
                a( href="#", title="", target="_blank" ) clique aqui.

          table( align="center", cellspacing="0", cellpadding="0" ).default_dimension.table_reset.header
            tr
              td This is your header

          table( align="center", cellspacing="0", cellpadding="0" ).default_dimension.table_reset.content
            tr
              td This is your content

          table( align="center", cellspacing="0", cellpadding="0" ).default_dimension.table_reset.footer
            tr
              td This is your footer