body
    margin: 0
    
.full_dimension
    width: 100%
    
.table_reset
    border-collapse: collapse
    border-spacing: 0
    padding: 0
    margin: 0
    border: 0
    td
        font-family: Trebuchet MS
        font-size: 13px
        color #333333
        line-height: 23px
        
.default_dimension
    width: 600px
    margin: 0 auto
    
.view_in_browser
    td
        text-align: center
        
.header
.content
.footer
    text-align: center